nav .nav-link, footer, footer a{
    color: white;
}

nav, .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    background-color: #01646b;
    opacity: 1;
}

footer, .btn-blue, .btn-dark{
    background-color: #044044;
}

.btn-blue{
    color: white;
    font-weight: bold;
}

.table{
    --bs-table-bg: #0000;
    --bs-table-accent-bg: #ecf0f1;
    --bs-table-striped-color: #000;
    --bs-table-striped-bg: rgba(255, 255, 255, 0.18);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #0080ff;
}

select{
    background-color: #04404491;
    border: none;
    padding: 1%;
    border-radius: 5px;
}