*{
    font-size: 100%;
}


.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    border-radius: 0 !important;
    /* margin-top: 1%; */
}
.dropend:hover > .dropdown-menu{
    position: absolute;
    top: -22%;
    left: 102%;
    border-radius: 0 !important;
    /* margin-top: 1%; */
}

.table-hover:hover{
    cursor: pointer;
}


select{
    border: none;
    background-color: rgba(255, 255, 255, 0.63);
    text-align: center;
}


optgroup{
    text-align: center;
}

@media (max-width: 912px) {
    .dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
        display: block;
        /* margin-top: 1%; */
    }
    .dropend:hover > .dropdown-menu{
        position: static;
        /* top: -22%;
        left: 102%; */
        border-radius: 0 !important;
        /* margin-top: 1%; */
    }
}

.nav-link{
    text-align: center;
    color: white;
}